body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(0, 0%, 13%);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    color: #f1f1f1;
    letter-spacing: -0.5px;
    font-size: 46px;
}

.file-upload {
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #fff;
    background-color: #0095d0;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.file-upload:hover {
    background-color: #113e9f;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.upload-button {
    height: 40px;
    background-color: #4caf50;
    color: #00d82f;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.upload-button:hover {
    background-color: #113e9f;
}

#file {
    display: none;
}

.file-name {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: -0.5px;
}

.text-name {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: -0.5px;
}

.button-container {
    text-align: center;
}

.success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #43a047;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.5px;
    z-index: 9999;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.success-message.show {
    transform: translateY(0);
}

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #e53935;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.5px;
    z-index: 9999;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.error-message.show {
    transform: translateY(0);
}
